@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.highLightText {
  color: rgb(71 71 71);
  font-weight: 500;
}

.githubIcon:hover {
  color: #fff;
  background-color: #000;
}
.instagramIcon:hover {
  color: #fff;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );

  font-weight: 600;
}
.linkedinIcon:hover {
  color: #fff;
  background-color: #0077b5;
}
.twitterIcon:hover {
  color: #fff;
  background-color: #1da1f2;
}
